<form method = "POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="name-field">
        {{ form.name.label }}
        {{ form.name(class = "form-control", placeholder = "Name") }}
        </fieldset>
        <fieldset id="description-field">
        {{ form.description.label }}
        {{ form.description(class = "form-control", placeholder = "Description") }}
        </fieldset>
        <fieldset id="comics_appeared_in-field">
        {{ form.comics_appeared_in.label }}
        {{ form.comics_appeared_in(class = "form-control", placeholder = "Comics Appeared In") }}
        </fieldset>
        <fieldset id="color-field">
        {{ form.super_power.label }}
        {{ form.super_power(class = "form-control", placeholder = "Super Power") }}
        </fieldset>
        <fieldset id="date_created-field">
        {{ form.date_created.label }}
        {{ form.date_created(class = "form-control", placeholder = "Date Created") }}
        </fieldset>
        
        {{ form.submit_button(class = "btn btn-primary btn-block") }}

    </div>
</form>